.range-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider{
    max-width: 700px;
    min-width: 200px;
}

.slider-value{
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(91, 91, 255);
}